@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
    --primary-color: #12ac8e;
    --primary-color-dark: #0d846c;
    --primary-color-light: #e9f7f7;
    --secondary-color: #fb923c;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
}

/**-----------Header-------------**/
header{
  background-image: linear-gradient(to right, rgba(18, 172, 142, 0.8), rgba(18, 172, 142, 0.8)), url(images/header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
}

.contenedorseccionuno{
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header_menu{
 display: flex;
 gap: 5rem;
 align-items: center;
 margin: 1rem 8rem;
}

a{
  display: flex;
  text-decoration: none;
  color: var(--white);
}
div{
  display: block;
  unicode-bidi: isolate;
}
.link{
  display: list-item;
  list-style-type: none;
}

/* LOGO */

.header_logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  display: flex;
}
.Care{
  display: flex;
  font-size: 1.5rem;
  color: var(--secondary-color);
}
.btn{
    padding: 0.70rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

/**-----------CONTENIDO Y FORMULARIO-------------**/

.elementos_header{
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  gap: 5rem;
  padding: 5rem 1rem;
}
.texto-header h1{
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: var(--white);
}
.texto-header p{
  color: var(--white);
  padding-bottom: 1.5rem;
  padding-right: 11rem;
  text-align: start;
}

/**-----------FORMULARIO-------------**/

.form_header{
  max-width: 100%;
  max-width: 350px;
}
.form_header form{
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.form_header h2{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.form_header input{
  padding: 0.75rem;
  border: none;
  font-size: 1rem;
  background-color: var(--primary-color-light);
  border-radius: 5px;
}
.form_header button{
  background-color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--primary-color-dark);
  transition: 0.3s;
}

/**----------SECCION-SERVICIOSS------------**/

.services{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.services_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.service_title{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.services_header_content p{
    max-width: 600px;
    color: var(--text-light);
}
.service_btn{
    padding: 0.60rem 1rem;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.service_btn:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-light);
}

/**----------CARDS-----------**/

.services_menu{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.service_block{
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.service_block span{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 7px 20px;
    font-size: 3rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 50%;
}
.service_block span:hover{
    color: var(--white);
    background-color: var(--primary-color);
    transition: 0.5s;
}
.lrn_mr{
    color: var(--primary-color);
    justify-content: center;
}
.lrn_mr:hover{
    color: var(--primary-color-dark);
    transition: 0.5s;
}

/**----------TEXTO-CARDS-----------**/

.service_block h4{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.service_block p{
    color: var(--text-light);
    margin-bottom: 1rem;
}

/**----------ABOUT-US-CONTAINER-----------**/

.aboutUs_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.title_content{
    font-size: 2rem;
    font-weight: 600;
}
.about_content p{
    padding-bottom: 1rem;
    margin-right: 5rem;
    color: var(--text-light);
}

/**----------IMAGEEEEEEEEEN-----------**/

.about_img img{
    width: 400px;
    margin: auto;
    border-radius: 10px;
}

/**----------WHY-CHOOSE-US-BLOG--------**/

.blog_container{
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}
.blog_img img{
    width: 400px;
    margin: auto;
    border-radius: 10px;
}

/**-----------MENU-----------**/

.title_content{
   margin-bottom: 1rem;
   font-size: 2rem;
   font-weight: 600;
   color: var(--text-dark);
}
.parrafo{
    color: var(--text-light);
    font-weight: 400;
}
.services_content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 80px auto;
    gap: 2rem;
}
.services_content span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/**-----------DOCTORSSSS-CARDSS----------**/

.pages_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.title_header{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.pages_header p{
    max-width: 600px;
    color: var(--text-light);
}

/**-----------IMAGENES-DE-DOCTORES-------**/

.pages_doctors{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.doctor_card{
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
.doctor_card_img{
    position: relative;
    overflow: hidden;
}
.doctor_info span{
    display: inline-block;
    padding: 6px 12px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}
.doctor_info span:hover{
    color: var(--primary-color);
    transition: 0.3s;
}
.doctor_info{
    
    left: 0;
    bottom: -4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

/**-----------FOOOOTEEEEEEEEER------**/

.footer{
    background-color: var(--primary-color-light);
    
}
.footer_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}
.footer_block h3{
    padding-top: 6rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}
.footer_block h3 span{
    color: var(--secondary-color);
}
.footer_block p{
    margin-bottom: 1rem;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
}
.footer_block p:hover{
    color: var(--primary-color);
}
.footer_block h4{
    padding-top: 6rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.footer_block i{
    color: var(--primary-color);
}

/**-----------FOOOOTEEEEEEEEER-BAAAAAAAAAAR-----**/

.footer_final{
    background-color: var(--primary-color);
}
.footer_content{
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.footer_content p{
    font-size: 0.8rem;
    color: var(--white);
}
.icons_footer{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
}